In [73]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthieu', 'Laura', 'Kevin', 'Jonas'],

'note' : [ 16,5, np.nan, 9, 20, 14,5, np.nan, 8, 19],

'tentatives' : [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualifier' : ['oui', 'non', 'oui', 'non', 'non', 'oui', 'oui', 'non', 'non', 'oui']}
 

etiquettes = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

ratz=pd.DataFrame(exam_data)
ratz.head(3)

        name  note  tentatives qualifier
0  Anastasia  16.0           1       oui
1       Dima   5.0           3       non
2  Katherine   NaN           2       oui

In [74]:
ratz2 = ratz.dropna(axis=0)

In [75]:
df = ratz2[["name","note"]]
df

        name  note
0  Anastasia  16.0
1       Dima   5.0
3      James   9.0
4      Emily  20.0
5    Michael  14.0
6   Matthieu   5.0
8      Kevin   8.0
9      Jonas  19.0

In [76]:

ratz2.loc['k'] = ["Suresh",15.5, 1, "yes"]
print(ratz2)

        name  note  tentatives qualifier
0  Anastasia  16.0           1       oui
1       Dima   5.0           3       non
3      James   9.0           3       non
4      Emily  20.0           2       non
5    Michael  14.0           3       oui
6   Matthieu   5.0           1       oui
8      Kevin   8.0           2       non
9      Jonas  19.0           1       oui
k     Suresh  15.5           1       yes

C:\Users\Baghouri\AppData\Local\Temp\ipykernel_10820\2076133903.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratz2.loc['k'] = ["Suresh",15.5, 1, "yes"]

In [77]:
ratz2.pop('tentatives')
print(ratz2)

        name  note qualifier
0  Anastasia  16.0       oui
1       Dima   5.0       non
3      James   9.0       non
4      Emily  20.0       non
5    Michael  14.0       oui
6   Matthieu   5.0       oui
8      Kevin   8.0       non
9      Jonas  19.0       oui
k     Suresh  15.5       yes

In [68]:
if int("note")> 10:
    print(1)
else:
    print(0)

ValueError: invalid literal for int() with base 10: 'note'

In [83]:
success = []
for i, row in ratz2.iterrows():
    

    if row["note"]>=10:
        success.append(1)
    else:
        success.append(0)
        
ratz2["success"] = success
ratz2

C:\Users\Baghouri\AppData\Local\Temp\ipykernel_10820\2866734463.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratz2["success"] = success

        name  note qualifier  success
0  Anastasia  16.0       oui        1
1       Dima   5.0       non        0
3      James   9.0       non        0
4      Emily  20.0       non        1
5    Michael  14.0       oui        1
6   Matthieu   5.0       oui        0
8      Kevin   8.0       non        0
9      Jonas  19.0       oui        1
k     Suresh  15.5       yes        1

In [87]:
data=pd.DataFrame(exam_data)
data.to_csv("my_data.csv")